:root {
    --clr-amarillo: #b18a0c;
    --clr-rojo: rgb(122, 0, 0);
    --clr-negro: #0f0f0f;
    --clr-blanco: #ececec;
    --clr-gris: #757575;
    --clr-verde: rgb(30, 182, 30);
    --clr-azul: rgb(30, 126, 182);
}

body {
    background-color: var(--clr-blanco);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p, li, label, th {
    font-size: 18px;
}

th {
    background-color: var(--clr-negro);
    color: var(--clr-blanco);
}

th, td {
    font-size: 20px;
}

ul {
    list-style: none;
}

.contenedor-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 40px;
    border-radius: 20px;

    border: 2px solid black;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: .3s ease all;
}

.boton span {
    font-weight: 600;
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton::after {
    content: "";
    width: 170px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 77px);

    border-bottom: 80px solid var(--clr-azul);
    border-right: 80px solid transparent;

    transition: .3s ease-in-out all;
}

.boton.btn2::after {
    border-bottom: 80px solid var(--clr-verde);
}

.boton.btn3::after {
    border-bottom: 80px solid var(--clr-rojo);
}

.boton.btn4::after {
    border-bottom: 80px solid var(--clr-amarillo);
}

.boton:hover::after {
    left: 0;
}

.boton:hover span {
    color: var(--clr-blanco);
}


.contenedor-cliente, .contenedor-pedido {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 100px;
}

#contenedor-tamanio, #contenedor-ingredientes {
    width: 300px;
    height: 180px;
    padding: 20px;
    border: 2px solid black;
} 

#contenedor-ingredientes .form-group {
    padding-left: 50px;
}

.contenedor-ventas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;
    border: 2px solid black;
    gap: 100px;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}